[user]
	name = Daniel Gross
[core]
	excludesfile=~/.gitignore_global
[init]
	defaultBranch = main	
[includeIf "gitdir:~/dev/bootcamp/"]
  path = .gitconfig_bootcamp
[includeIf "gitdir:~/dev/personal/"]
  path = .gitconfig_personal
[includeIf "gitdir:~/dev/guru/"]
  path = .gitconfig_guru
