[user]
	name = Daniel Gross
	email = danwgross@gmail.com
[core]
	excludesfile=~/.gitignore_global
[init]
	defaultBranch = main	
[includeIf "gitdir:~/dev/bootcamp/"]
  path = .gitconfig_bootcamp
[includeIf "gitdir:~/dev/personal/"]
  path = .gitconfig_personal
